/**
 * app.css
 *
 * This CSS file contains styles for the entire application.
 *
 * Key Points:
 * - Fonts are imported from Google Fonts, including Montserrat and Roboto.
 * - Global reset: All elements have margin and padding set to zero.
 * - Common setup: Body background color and text color are defined.
 * - Font families are specified for headings and paragraphs.
 * - Section styles: Sections have a minimum height of 100vh.
 * - Even sections have a specific background color and a box-shadow effect.
 * - Image styles are defined for background images within sections.
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




:root {}

/* Global reset */
* {
    padding: 0;
    margin: 0;
}

/* Common setup */

body {
    background-color: #111;
    color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
}


section {
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}


section:nth-child(even) {
    background: #032f4b;
    box-shadow:inset 6px 14px 28px rgba(43, 33, 100, 0.2); 
    
}

.image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;

}

a:hover{
    cursor: pointer;
}